.navbar-brand {
  padding-top: 7px;
}

.navbar-text {
  font-size: 1.5em;
}

.navbar-brand img {
  width: 45px;
  height: 45px;
}

.sidebar {
  padding-left: 15px;
  padding-right: 5px;
}

.sidebar .affix-top {
  /*position: static;*/
  margin-top: 30px;
  width: 179.844px;
}

.sidebar .affix {
  top: 43px;
  width: 179.844px;
}

.jumbotron a {
  margin-top: 20px;
}

.book-header-btn {
  margin-left: 10px;
}

.book-container {
  padding-bottom: 20px;
}

.book-image {
  margin-top: 25px;
}

.add-book-form {
  margin-bottom: 100px;
}

.edit-book-form {
  margin-bottom: 100px;
}

select.form-control.add-author-select {
  width: 75%;
}

.delete-book-btn {
  margin-top: 50px;
}
