<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <div class="page-header">
      <h1>Edit Book</h1>
    </div>
    <form ng-submit="submit()" class="edit-book-form">
      <div class="form-group">
        <label for="bookTitle">Edit Title</label>
        <input type="text" ng-model="book.title" class="form-control" name="bookTitle" id="bookTitle" placeholder="Add a title" required>
      </div>
      <div class="form-group">
        <label for="bookGenre">Edit Genre</label>
        <input type="text" ng-model="book.genre" class="form-control" name="bookGenre" id="bookGenre" placeholder="Add a genre" required>
      </div>
      <div class="form-group">
        <label for="bookURL">Edit Cover Image URL</label>
        <input type="text" ng-model="book.cover_url" class="form-control" name="bookURL" id="bookURL" placeholder="Add a cover image url" required>
      </div>
      <div class="form-group">
        <label for="bookDescription">Edit Description</label>
        <textarea ng-model="book.description" class="form-control" name="bookDescription" id="bookDescription" rows="5" placeholder="Add a description" required></textarea>
      </div>
      <div class="form-group">
        <label for="bookAuthors">Edit Authors</label>
        <div class="panel panel-default" id="bookAuthors">
          <ul class="list-group new-author-list">
            <li ng-hide="book.authors[0].first_name" class="list-group-item author-list-placeholder">Pick an author below and click add</li>
            <li ng-show="book.authors[0].first_name" ng-repeat="author in book.authors" class="list-group-item" data-authorid="{{author.author_id}}">{{author.first_name}} {{author.last_name}}<button type="button" name="deleteAuthorBtn" class="btn btn-danger btn-xs edit-remove-author pull-right">Remove</button></li>
          </ul>
        </div>
      </div>
      <div class="form-group form-inline">
        <select class="form-control add-author-select" name="addAuthor">
          <option value='Pick an Author' disabled>Pick an Author to add</option>
          <option ng-repeat="author in authors" value="{{author.id}},{{author.first_name}} {{author.last_name}}">{{author.first_name}} {{author.last_name}}</option>
        </select>
        <button class="btn btn-info btn-sm edit-add-author" type="button" name="addAuthorBtn">Add Author</button>
      </div>
      <button type="submit" class="btn btn-lg btn-success center-block" name="editBookBtn">Edit this book</button>
    </form>
  </div>
</div>
