<div class="jumbotron">
  <h1 class="text-center">Welcome to Galvanize Reads!</h1>
  <p>Galvanize Reads is a book catalog service that stores a list of recommended technology books.</p>
  <div class="row">
    <div class="col-md-6 text-center">
      <img src="/img/authorsLanding.jpg" alt="author landing image" class="img-responsive">
      <a href="#/authors" class="btn btn-primary btn-lg">View Authors</a>
    </div>
    <div class="col-md-6 text-center">
      <img src="/img/booksLanding.jpg" alt="book landing image" class="img-responsive">
      <a href="#/books" class="btn btn-primary btn-lg">View Books</a>
    </div>
  </div>
</div>
