<div class="col-md-2 sidebar">
  <div class="affix" data-spy="affix" data-offset-top="70">
    <div class="panel panel-info">
      <div class="panel-heading">
        <p class="text-center">Authors</p>
        <img class="center-block" width="50" height="50" src="img/authors.png" alt="Authors Logo">
      </div>
      <div class="panel_body">
        <a href="#/authors" class="btn btn-primary btn-block">View all Authors</a>
        <a href="#/authors/new" class="btn btn-primary btn-block">Add an Author</a>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <p class="text-center">Books</p>
        <img class="center-block" width="50" height="50" src="img/books.png" alt="Books Logo">
      </div>
      <div class="panel_body">
        <a href="#/books" class="btn btn-primary btn-block">View all Books</a>
        <a href="#/books/new" class="btn btn-primary btn-block">Add a Book</a>
      </div>
    </div>
  </div>
</div>
