<div class="container author-container">
  <div class="row">
    <div class="col-md-2 col-md-offset-1 author-image">
      <a href="#/author/{{author.id}}">
        <img ng-src="{{author.portrait_url}}" class="img-responsive">
      </a>
    </div>
    <div class="col-md-6">
      <div class="author-header">
        <a href="#/author/{{author.id}}/delete" class="btn btn-danger author-header-btn pull-right">Delete</a>
        <a href="#/author/{{author.id}}/edit" class="btn btn-info author-header-btn pull-right">Edit</a>
        <a href="#/author/{{author.id}}">
          <h2>{{author.first_name}} {{author.last_name}}</h2>
        </a>
        <p>{{author.bio}}</p>
      </div>
      <div class="author-body">
        <h4>Books:</h4>
        <p ng-hide="author.books[0].book_title">No books added!</p>
        <div class="list-group">
          <a ng-show="author.books[0].book_title" ng-repeat="book in author.books" href="#/book/{{book.book_id}}" class="list-group-item">{{book.book_title}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
